{% extends 'index.html' %}
{% block content %}
{% load static %}

<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="row">
        <aside class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Billing Address</h4>
            <form action="{% url 'place_order' %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col form-group">
                        <label for=""><b>First Name</b></label>
                        <input type="text" name="first_name" class="form-control" required>
                    </div>
                    <div class="col form-group">
                        <label for=""><b>Last Name</b></label>
                        <input type="text" name="last_name" class="form-control" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label for=""><b>Email</b></label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                    <div class="col form-group">
                        <label for=""><b>Phone Number</b></label>
                        <input type="tel" name="phone" class="form-control" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label for=""><b>Address Line 1</b></label>
                        <input type="text" name="address_line_1" class="form-control" required>
                    </div>
                    <div class="col form-group">
                        <label for=""><b>Address Line 2</b></label>
                        <input type="text" name="address_line_2" class="form-control" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label for=""><b>City</b></label>
                        <select id="city" name="city" class="form-control">
                            <option value="Andijan">Andijan</option>
                            <option value="Bukhara">Bukhara</option>
                            <option value="Djizzak">Djizzak</option>
                            <option value="Fergana">Fergana</option>
                            <option value="Kashkadarya">Kashkadarya</option>
                            <option value="Khorezm">Khorezm</option>
                            <option value="Namangan">Namangan</option>
                            <option value="Navoi">Navoi</option>
                            <option value="Samarkand">Samarkand</option>
                            <option value="Surkhandarya">Surkhandarya</option>
                            <option value="Syrdarya">Syrdarya</option>
                            <option value="Tashkent">Tashkent</option>
                            <option value="Tashkent shahri">Tashkent Shahri</option>
                        </select>
                        <!-- <input type="text" name="city" class="form-control"> -->
                        
                    </div>
                    <div class="col form-group">
                        <label for="country"><b>Country</b></label>      
                            <select id="country" name="country" class="form-control">
                                <option value="Uzbekistan">Uzbekistan</option>
                            </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label for=""><b>Order Note</b></label>
                        <textarea name="order_note" class="form-control"  rows="3"></textarea>
                    </div>
                </div>
            
        </div>
    </div>
  <!-- card.// -->
    
    </aside> <!-- col.// -->
        <aside class="col-lg-6">
    
            <div class="card">
            <div class="card-body">

                <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                    <tr class="small text-uppercase">
                      <th scope="col">Product</th>
                      <th scope="col" width="160">Quantity</th>
                      <th scope="col" width="120">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <figure class="itemside align-items-center">
                                    <div class="aside"><a href="{{ cart_item.product.get_url }}"><img src="{{ cart_item.product.images.url }}" class="img-sm"></a></div>
                                    <figcaption class="info">
                                        <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                        <p class="text-muted small">
                                            {% if cart_item.variations.all %}
                                                {% for item in cart_item.variations.all %}
                                                    {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                                                {% endfor %}
                                            {% endif %}
                                        </p>
                                    </figcaption>
                                </figure>
                            </td>
                            <td> 
                                <label style="margin-left: 25px;">{{ cart_item.quantity }}</label>
                            </td>
                            <td> 
                                <div class="price-wrap"> 
                                    <var class="price">${{ cart_item.sub_total }}</var> 
                                    <small class="text-muted"> ${{ cart_item.product.price }} each </small> 
                                </div> <!-- price-wrap .// -->
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>

                <button type="submit" name="submit" class="btn btn-primary btn-block">Place Order</button>
                <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
            </form>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    

    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}